p{
    margin-bottom: 0px;
}
.form-group{
    margin-bottom: 10px;
}
input,textarea{
    background-color: rgb(24 23 23 / 86%) !important;
    color: #a0a0a0 !important;
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
}
input:hover,textarea:hover{
    background-color: orange !important;
    color: gray !important;
}
::placeholder{
    color: #a0a0a0 !important;
}
.submit{
    float: right;
    border: none;
    font-size: 22px;
    background-color: orange;
    font-weight: 300;
    padding: 3px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}