
<div class="col-12 bg-dark">
    <div class="container bg-light">
        <div class="row">
            <p class="title pt-4">Contact us</p>
            <div class="col-sm-3 mb-3">
                <p>
                    Shaha Complex - 4th Floor - Office No. 3  Salem Al Mubarak Street - Salmiya Kuwait
                </p>
                <a href=""><p>info@dealzus.com</p></a>
                <img src="assets/insta.webp" alt="">
            </div>
            <div class="col-sm-8">
                <form >
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone No.">
                    </div>
                    <div class="form-group">
                        <textarea name="Message" class="form-control" id="" cols="30" rows="5" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>