
<div class="col-12 bg-dark p-3 ">
    <div class="row">
        <div class="col-sm-3 card p-2">
            <div class="card-data">
                <p class="title">services</p>
                <img src="assets/1.webp" alt="" class="mb-2 full-card-img">
                <p class="m-2">Leasing & Marketing</p>
                <ul>
                    <li>Selecting the proper malls locations for your brand.</li>
                    <li>Designing the appropriate marketing plans to meet the set objectives. </li>
                    <li>Insuring the professional implementations of the seven elements of marketing</li>
                    <li> Product, Price, Place, Promotion, People, Process and Physical Evidence.</li>
                    <li>Execute Apps & Websites.</li>
                </ul>
            </div>
            <a class="nav-link" routerLink="/services">more</a>
        </div>
        
        <div class="col-sm-3 card p-2 clients-Div">
            <div class="card-data">
                <p class="title">clients</p>
                <div class="clients-imgs">
                    <ng-container  *ngFor="let item of clientPhotoArray">
                            <img src="{{item.img}}" alt="">
                    </ng-container>
                </div>
            </div>
            <a class="nav-link" routerLink="/clients">more</a>
        </div>

        <div class="col-sm-3 card p-2">
           <div class="card-data">
                <p class="title">Contact </p>
                <img src="assets/6.webp" alt="" class="mb-2 full-card-img">
                <p>  Let's talk </p>
                <p class="title title2">SUCCESS CONSULTING </p>
                <p >Shaha Complex - 4th Floor - Office No. 3
                    Salem Al Mubarak Street - Salmiya
                    Kuwait
                </p>
           </div>
            <a class="nav-link" routerLink="/contact">more</a>
        </div>
        
    </div>
</div>