<div class="all">
    <div class="col-12 flex-column flex-shrink-0 p-3 leftside">
        <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
          <img src="assets/tttt_PNG.png" class="bi me-2 icon">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLink="/admin/home-services" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" class="nav-link" aria-current="page" >
              <i class="bi bi-question-circle"></i>
                <span>الخدمات بالصفحة الرئيسية</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/home-clients" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" class="nav-link" aria-current="page" >
                <i class="bi bi-house-door"></i>
                <span>عملاء الصفحة الرئيسية</span>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="services" [routerLinkActive]="'active'">
              <i class="bi bi-person-raised-hand"></i>
                <span>الخدمات</span>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="clients" [routerLinkActive]="'active'">
                <i class="bi bi-people"></i>
                <span>صور جميع العملاء </span>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="albairaq-mall" [routerLinkActive]="'active'">
              <i class="bi bi-shop"></i>
                <span>البيراق مول</span>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="contact-us" [routerLinkActive]="'active'">
              <i class="bi bi-telephone-forward"></i>
                <span>تواصل معانا</span>
            </a>
          </li>
        </ul>
        <hr>
        
        
    </div>
      
    <div class="col-12 content" >
        <router-outlet></router-outlet>
    </div>
</div>