<div class="col-12 bg-dark p-3">
    <div class="container bg-light ">
        <p class="global-big-title">services</p>
        <div class="col-sm-5">
            <img src="assets/1.webp" alt="">
        </div>
        <p class="title pt-2"> Leasing & Marketing </p>
        <ul class="col-sm-7">
            <li>Selecting the proper malls locations for your brand.</li>
            <li>Designing the appropriate marketing plans to meet the set objectives.  </li>
            <li>Insuring the professional implementations of the seven elements of marketing :
                Product, Price, Place, Promotion, People, Process and Physical Evidence.</li>
            <li>Managing the marketing plans on daily basis to ensure success in the markets.  </li>
            <li>Specialized in Malls Marketing.</li>
            <li>Organizing and managing malls events and expos.</li>
            <li>Execute Apps & Websites.</li>
            <li>Marketing Research.</li>
            <li>Digital Marketing.</li>
        </ul>
    </div>
</div>